<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === true"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <hr />
    <mat-nav-list>
      <a mat-list-item routerLink="/"
        >Dashboard <i class="bi bi-grid-3x3-gap-fill"></i
      ></a>
      <a mat-list-item routerLink="Socios"
        >Socios <i class="bi bi-file-earmark-person"></i
      ></a>
      <a mat-list-item href="#" routerLink="Pedidos">Pedidos <i class="bi bi-bag"></i></a>
      <a mat-list-item href="#" routerLink="Catalogo">Catalogo <i class="bi bi-book"></i></a>
      <a mat-list-item href="#" routerLink="Empleados">Empleados <i class="bi bi-wrench"></i></a>
      <a mat-list-item href="#"
        >Estadisticas <i class="bi bi-graph-up-arrow"></i
      ></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: #492687">
    <mat-toolbar color="primary" style="text-align: center;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>
        <span>
          <a style="color:white;text-decoraton:none" routerLink="/"
            >VideoAdmin</a
          ></span
        >
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
